version: "3.8"
services:
  app:
    build: .
    container_name: laravel_app
    volumes:
      - ./:/var/www/html
    ports:
      - "9000:9000"
    environment:
      APP_ENV: local
      APP_DEBUG: true
  web:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
